.header{
    background: #0085ff;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 0.8rem;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.8rem;
    color: #fff;
    
}
.header i{
    position: absolute;
    left:.2rem;
    display: inline-block;
    line-height: 0.8rem;
    width: .32rem;
    color: #fff;
    font-size: 18px;
}
.header a{
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.8rem;

}